* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Kodchasan";
}

.header {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;    
}
.nav-lst {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 28px;
}
.nav-lst a {
    text-decoration: none;
    color: #002845;
    padding: 28px;
}
.nav-lst a:hover {
    color: #F64975
}
.logo {
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #002845;
    font-size: 24;
}